<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\warre\OneDrive\Desktop\A_Star\Poomarin_Warin_A_Star\Warren_A_Star.jar</jar>
  <outfile>C:\Users\warre\OneDrive\Desktop\A_Star\Poomarin_Warin_A_Star\AStar.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path>jre-1.8</path>
    <requiresJdk>true</requiresJdk>
    <requires64Bit>true</requires64Bit>
    <minVersion>1.4.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>